* {
    padding: 0;
    margin: 0;
}

div.ad {
    position: relative;
    height: 1280px;
    background-image: url('../images/office_cashier.jpg');
    background-repeat: no-repeat;
    background-size: 70%;
}

div.ad-header {
    position: absolute;
    left: 14%;
    top: 1%;
    text-align: center;
    font-size: 1.7em;
}

div.ad-text {
    position: absolute;
    left: 5%;
    top: 12%;
    font-size: 1.6em;
}

div.ad-contacts {
    position: absolute;
    left: 3%;
    top: 24%;
    font-size: 1.6em;
}

div.ad-contacts i.phone {
    position: absolute;
    left: 0%;
    top: -10%;
    font-size: 1.6em;
}

div.ad-contacts i.address {
    position: absolute;
    left: 38%;
    top: -10%;
    font-size: 1.6em;
}